# compiled output
/dist
/node_modules

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env

# uploaded files
/uploads/*
!/uploads/.gitkeep

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store

# tests
/coverage
/.nyc_output
